<div class="header-container container">
  <header>
    <b><a href="{{ site.url }}" class="top-link" >john patrick amata</a></b>
      <ul class="nav">
        <li style="font-size:18px">/ <a href="/">Home</a> </li>
	      <li style="font-size:18px">/ <a href="/about">About</a> </li>
	      <li style="font-size:18px">/ <a href="{{ "/archives" | prepend: site.url }}">Archives</a> </li>
        <li style="font-size:18px">/ <a href="{{ "/bookshelf" | prepend: site.url }}">bookshelf</a> </li>
        <li style="font-size:18px">/ <a href="{{ "/fun" | prepend: site.url }}">fun</a> </li>
        <!---
        {% if site.owner.github %}
          <li><a href="{{ site.owner.github }}" target="_blank">Projects</a></li>
        {% endif %}
        -->
      </ul>
  </header>
</div>
